.modal{
    height: 600px;
    overflow: auto;
    width: 1000px;
    margin-left: 20px;
}
.custom-datetime{
    height: 40px ; /* Set the desired height */
    width: 200px; /* Set the desired width */
  
}